/.run
/edge-node
!*.*
*.log
*.out
*.err
*.exe*
*.so
*.so.*
*.a
*.o
*.dll
*.dylib
*.bin
*.zip
*.tar
*.tar.gz
*.tgz
*.7z
*.rar
/cdn-system/api/cdn-api
/cdn-system/agent/cdn-agent
/cdn-system/edge-node/openresty/luajit/bin/luajit*
/cdn-system/edge-node/openresty/nginx/sbin/nginx
/cdn-system/agent/edge-node/openresty/luajit/bin/luajit*
/cdn-system/agent/edge-node/openresty/nginx/sbin/nginx
/cdn-system/agent/assets/conf/guard/rotate
/cdnfly-agent-v5.3.5
/cdnfly-master-v5.3.6
node_modules/
.cache/
.tmp/
/acme/accounts/account_letsencrypt.key
/cdn-system/acme/accounts/account_letsencrypt.key
/cdn-system/api/acme/accounts/account_letsencrypt.key
/cdn-system/Dump*.sql
\\\\wsl$\\Ubuntu-24.04\\usr\\local\\goedge\\nodes\\edge-node\\cert\\acme
/cdn-system/tmp
/cdn-system/build
/cdn-system/tests
/cdn-system/web/admin/tests
/cdn-system/web/admin/test-results
/cdn-system/cnn.net
