/.run
/edge-node
!*.*
*.log
*.out
*.err
*.exe*
/cdn-system/agent/assets/conf/guard/rotate
/cdnfly-agent-v5.3.5
/cdnfly-master-v5.3.6
node_modules/
.cache/
.tmp/
/acme/accounts/account_letsencrypt.key
/cdn-system/acme/accounts/account_letsencrypt.key
/cdn-system/api/acme/accounts/account_letsencrypt.key
/cdn-system/Dump*.sql
\\\\wsl$\\Ubuntu-24.04\\usr\\local\\goedge\\nodes\\edge-node\\cert\\acme
