
  <div class="default-config">
    <el-card shadow="never" class="layout-card">
      <template #header>
        <div class="card-header">全局默认配置</div>
      </template>
      <el-tabs v-model="topTab" class="top-tabs">
        <el-tab-pane label="全局配置" name="global">
          <el-tabs v-model="globalTab" class="sub-tabs">
            <el-tab-pane label="网站" name="site">
              <el-form label-width="150px" class="config-form">
                <div class="section-title">HTTP</div>
                <el-form-item label="监听端口" style="max-width: 500px;">
                  <el-input v-model="siteForm.httpListen" @change="saveSiteConfig" />
                </el-form-item>
                <el-divider />
                <div class="section-title">HTTPS</div>
                <el-form-item label="监听端口" style="max-width: 500px;">
                  <el-input v-model="siteForm.httpsListen" @change="saveSiteConfig" />
                </el-form-item>
                <el-form-item label="开启HSTS" style="max-width: 500px;">
                  <el-switch v-model="siteForm.httpsHsts" @change="saveSiteConfig" />
                </el-form-item>
                <el-form-item label="开启HTTP2" style="max-width: 500px;">
                  <el-switch v-model="siteForm.httpsHttp2" @change="saveSiteConfig" />
                </el-form-item>
                <el-form-item label="开启HTTP3" style="max-width: 500px;">
                  <el-switch v-model="siteForm.httpsHttp3" @change="saveSiteConfig" />
                </el-form-item>
                <el-form-item label="强制HTTPS" style="max-width: 500px;">
                  <el-switch v-model="siteForm.httpsForce" @change="saveSiteConfig" />
                </el-form-item>
                <el-form-item label="ssl_protocols" style="max-width: 600px;">
                  <el-checkbox-group v-model="siteForm.sslProtocols" @change="saveSiteConfig">
                    <el-checkbox label="SSLv2" />
                    <el-checkbox label="SSLv3" />
                    <el-checkbox label="TLSv1" />
                    <el-checkbox label="TLSv1.1" />
                    <el-checkbox label="TLSv1.2" />
                    <el-checkbox label="TLSv1.3" />
                  </el-checkbox-group>
                </el-form-item>
                <el-form-item label="ssl_ciphers" style="max-width: 600px;">
                  <el-input
                    v-model="siteForm.sslCiphers"
                    type="textarea"
                    :rows="2"
                    @change="saveSiteConfig" />
                </el-form-item>
                <el-form-item label="ssl_prefer_server_ciphers" style="max-width: 500px;">
                  <el-switch v-model="siteForm.sslPreferServerCiphers" @change="saveSiteConfig" />
                </el-form-item>
                <el-form-item label="ocsp_stapling" style="max-width: 500px;">
                  <el-switch v-model="siteForm.ocspStapling" @change="saveSiteConfig" />
                </el-form-item>
                <el-divider />
                <div class="section-title">回源设置</div>
                <el-form-item label="回源协议" style="max-width: 600px;">
                  <el-radio-group v-model="siteForm.backendProtocol" @change="saveSiteConfig">
                    <el-radio label="http">HTTP</el-radio>
                    <el-radio label="https">HTTPS</el-radio>
                    <el-radio label="follow">跟随协议</el-radio>
                    <el-radio label="follow_port">跟随端口和协议</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="回源http端口" style="max-width: 500px;">
                  <el-input v-model="siteForm.backendHttpPort" @change="saveSiteConfig" />
                </el-form-item>
                <el-form-item label="回源https端口" style="max-width: 500px;">
                  <el-input v-model="siteForm.backendHttpsPort" @change="saveSiteConfig" />
                </el-form-item>
                <el-form-item label="回源超时" style="max-width: 500px;">
                  <el-input v-model="siteForm.proxyTimeout" @change="saveSiteConfig" />
                </el-form-item>
                <el-form-item label="连接超时" style="max-width: 500px;">
                  <el-input v-model="siteForm.connectTimeout" @change="saveSiteConfig" />
                </el-form-item>
                <el-form-item label="回源SSL协议" style="max-width: 600px;">
                  <el-checkbox-group v-model="siteForm.proxySslProtocols" @change="saveSiteConfig">
                    <el-checkbox label="SSLv2" />
                    <el-checkbox label="SSLv3" />
                    <el-checkbox label="TLSv1" />
                    <el-checkbox label="TLSv1.1" />
                    <el-checkbox label="TLSv1.2" />
                    <el-checkbox label="TLSv1.3" />
                  </el-checkbox-group>
                </el-form-item>
                <el-divider />
                <div class="section-title">缓存</div>
                <div class="toolbar-row">
                  <el-button type="primary" size="normal" @click="openCacheRuleDialog('create')">新增规则</el-button>
                  <el-select
                    v-model="cacheQuickPreset"
                    placeholder="快速设置缓存"
                    style="max-width: 200px"
                    size="normal"
                    @change="applyCachePreset">
                    <el-option label="通用静态资源" value="static" />
                    <el-option label="视频资源" value="video" />
                    <el-option label="图片资源" value="image" />
                  </el-select>
                </div>
                <el-table :data="siteForm.cacheRules" border class="config-table">
                  <el-table-column type="selection" width="50" />
                  <el-table-column label="类型" min-width="120">
                    <template #default="{ row }">
                      <span>{{ cacheTypeLabel(row.type) }}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="内容" min-width="220">
                    <template #default="{ row }">
                      <span>{{ row.value }}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="有效期" width="120">
                    <template #default="{ row }">
                      <span>{{ row.ttl }} 天</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="忽略参数" width="120">
                    <template #default="{ row }">
                      <el-tag :type="row.ignore_query ? 'success' : 'warning'">
                        {{ row.ignore_query ? '是' : '否' }}
                      </el-tag>
                    </template>
                  </el-table-column>
                  <el-table-column label="强制缓存" width="120">
                    <template #default="{ row }">
                      <el-tag :type="row.force_cache ? 'success' : 'warning'">
                        {{ row.force_cache ? '是' : '否' }}
                      </el-tag>
                    </template>
                  </el-table-column>
                  <el-table-column label="操作" width="140">
                    <template #default="{ row, $index }">
                      <el-button type="primary" link size="normal" @click="openCacheRuleDialog('edit', row, $index)">编辑</el-button>
                      <el-button type="danger" link size="normal" @click="removeCacheRule($index)">删除</el-button>
                    </template>
                  </el-table-column>
                </el-table>
                <div class="help-text">缓存规则由上到下匹配，匹配到即停止，可拖动调整顺序</div>
                <el-divider />
                <div class="section-title">源站请求头</div>
                <div class="toolbar-row">
                  <el-button type="primary" size="normal" @click="openHeaderDialog('create')">新增请求头</el-button>
                </div>
                <el-table :data="siteForm.originHeaders" border class="config-table">
                  <el-table-column type="selection" width="50" />
                  <el-table-column label="名称" min-width="200" prop="name" />
                  <el-table-column label="值" min-width="260" prop="value" />
                  <el-table-column label="操作" width="140">
                    <template #default="{ row, $index }">
                      <el-button type="primary" link size="normal" @click="openHeaderDialog('edit', row, $index)">编辑</el-button>
                      <el-button type="danger" link size="normal" @click="removeHeader($index)">删除</el-button>
                    </template>
                  </el-table-column>
                </el-table>
                <div class="help-text">这里添加的是节点请求源时带的请求头</div>
                <el-divider />
                <div class="section-title">访问日志</div>
                <el-form-item label="记录请求头" style="max-width: 500px;">
                  <el-switch v-model="siteForm.logRequestHeader" @change="saveSiteConfig" />
                  <div class="help-text">开启只会增加硬盘空间占用，可长期开启</div>
                </el-form-item>
                <el-form-item label="记录响应头" style="max-width: 500px;">
                  <el-switch v-model="siteForm.logResponseHeader" @change="saveSiteConfig" />
                  <div class="help-text">建议只在调试时开启，始终开启会增加CPU与硬盘占用</div>
                </el-form-item>
                <el-form-item label="记录请求体" style="max-width: 500px;">
                  <el-switch v-model="siteForm.logRequestBody" @change="saveSiteConfig" />
                  <div class="help-text">建议只在调试时开启，始终开启对节点性能消耗较大</div>
                </el-form-item>
                <el-form-item label="请求体大小限制" style="max-width: 500px;">
                  <el-input v-model="siteForm.postSizeLimit" @change="saveSiteConfig" />
                  <div class="help-text">单位KB</div>
                </el-form-item>
                <el-divider />
                <div class="section-title">其它</div>
                <el-form-item label="负载方式" style="max-width: 600px;">
                  <el-radio-group v-model="siteForm.balanceWay" @change="saveSiteConfig">
                    <el-radio label="rr">轮循</el-radio>
                    <el-radio label="ip_hash">定源</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="默认CC规则" style="max-width: 500px;">
                  <el-select v-model="siteForm.ccDefaultRule" @change="saveSiteConfig">
                    <el-option v-for="item in ccRules" :key="item.value" :label="item.label" :value="item.value" />
                  </el-select>
                </el-form-item>
                <el-form-item label="搜索引擎爬虫" style="max-width: 600px;">
                  <el-radio-group v-model="siteForm.securityBot" @change="saveSiteConfig">
                    <el-radio label="">不设置</el-radio>
                    <el-radio label="allow">放行</el-radio>
                    <el-radio label="block">拦截</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="开启Gzip" style="max-width: 500px;">
                  <el-switch v-model="siteForm.gzipEnable" @change="saveSiteConfig" />
                </el-form-item>
                <el-form-item label="gzip types" style="max-width: 600px;">
                  <el-input v-model="siteForm.gzipTypes" @change="saveSiteConfig" />
                </el-form-item>
                <el-form-item label="开启Websocket" style="max-width: 500px;">
                  <el-switch v-model="siteForm.websocketEnable" @change="saveSiteConfig" />
                </el-form-item>
                <el-form-item label="屏蔽透明代理" style="max-width: 500px;">
                  <el-switch v-model="siteForm.securityShieldProxy" @change="saveSiteConfig" />
                </el-form-item>
                <el-form-item label="数据实时返回" style="max-width: 500px;">
                  <el-switch v-model="siteForm.realtimeReturn" @change="saveSiteConfig" />
                </el-form-item>
                <el-form-item label="数据实时发送" style="max-width: 500px;">
                  <el-switch v-model="siteForm.realtimeSend" @change="saveSiteConfig" />
                </el-form-item>
                <el-form-item label="开启IPv6" style="max-width: 500px;">
                  <el-switch v-model="siteForm.ipv6Enable" @change="saveSiteConfig" />
                </el-form-item>
              </el-form>
            </el-tab-pane>
            <el-tab-pane label="转发" name="stream">
              <el-form label-width="150px" class="config-form">
                <el-form-item label="监听协议" style="max-width: 600px;">
                  <el-radio-group v-model="streamForm.listenProtocol" @change="saveStreamConfig">
                    <el-radio label="tcp">tcp</el-radio>
                    <el-radio label="udp">udp</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="负载方式" style="max-width: 600px;">
                  <el-radio-group v-model="streamForm.balanceWay" @change="saveStreamConfig">
                    <el-radio label="rr">轮循</el-radio>
                    <el-radio label="ip_hash">定源</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="开启proxy protocol" style="max-width: 500px;">
                  <el-switch v-model="streamForm.proxyProtocol" @change="saveStreamConfig" />
                </el-form-item>
              </el-form>
            </el-tab-pane>
            <el-tab-pane label="证书" name="cert">
              <el-form label-width="150px" class="config-form">
                <el-form-item label="默认证书类型" style="max-width: 600px;">
                  <el-radio-group v-model="certForm.provider" @change="saveCertConfig">
                    <el-radio label="zerossl">zerossl</el-radio>
                    <el-radio label="lets">lets</el-radio>
                    <el-radio label="buypass">buypass</el-radio>
                    <el-radio label="google">google</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="DNS API" style="max-width: 500px;">
                  <el-select v-model="certForm.dnsapiId" @change="saveCertConfig">
                    <el-option
                      v-for="item in dnsapis"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id" />
                  </el-select>
                  <div class="help-text">设置后，申请证书将使用此DNS API</div>
                </el-form-item>
              </el-form>
            </el-tab-pane>
          </el-tabs>
        </el-tab-pane>
        <el-tab-pane label="缓存配置" name="cache">
          <el-tabs v-model="cacheTab" class="sub-tabs">
            <el-tab-pane label="网站默认配置" name="site">
              <el-form label-width="150px" class="config-form">
                <el-form-item label="缓存开关" style="max-width: 500px;">
                  <el-switch v-model="cacheDefaults.site.enable" @change="saveCacheDefaults('site')" />
                </el-form-item>
                <el-form-item label="缓存 TTL (秒)" style="max-width: 500px;">
                  <el-input v-model="cacheDefaults.site.ttl" @change="saveCacheDefaults('site')" />
                </el-form-item>
                <el-form-item label="开启 Gzip" style="max-width: 500px;">
                  <el-switch v-model="cacheDefaults.site.gzip" @change="saveCacheDefaults('site')" />
                </el-form-item>
                <el-form-item label="开启 WAF" style="max-width: 500px;">
                  <el-switch v-model="cacheDefaults.site.waf" @change="saveCacheDefaults('site')" />
                </el-form-item>
              </el-form>
            </el-tab-pane>
            <el-tab-pane label="API 默认配置" name="api">
              <el-form label-width="150px" class="config-form">
                <el-form-item label="缓存开关" style="max-width: 500px;">
                  <el-switch v-model="cacheDefaults.api.enable" @change="saveCacheDefaults('api')" />
                </el-form-item>
                <el-form-item label="缓存 TTL (秒)" style="max-width: 500px;">
                  <el-input v-model="cacheDefaults.api.ttl" @change="saveCacheDefaults('api')" />
                </el-form-item>
                <el-form-item label="开启 Gzip" style="max-width: 500px;">
                  <el-switch v-model="cacheDefaults.api.gzip" @change="saveCacheDefaults('api')" />
                </el-form-item>
                <el-form-item label="开启 WAF" style="max-width: 500px;">
                  <el-switch v-model="cacheDefaults.api.waf" @change="saveCacheDefaults('api')" />
                </el-form-item>
              </el-form>
            </el-tab-pane>
            <el-tab-pane label="下载默认配置" name="download">
              <el-form label-width="150px" class="config-form">
                <el-form-item label="缓存开关" style="max-width: 500px;">
                  <el-switch v-model="cacheDefaults.download.enable" @change="saveCacheDefaults('download')" />
                </el-form-item>
                <el-form-item label="缓存 TTL (秒)" style="max-width: 500px;">
                  <el-input v-model="cacheDefaults.download.ttl" @change="saveCacheDefaults('download')" />
                </el-form-item>
                <el-form-item label="开启 Gzip" style="max-width: 500px;">
                  <el-switch v-model="cacheDefaults.download.gzip" @change="saveCacheDefaults('download')" />
                </el-form-item>
                <el-form-item label="开启 WAF" style="max-width: 500px;">
                  <el-switch v-model="cacheDefaults.download.waf" @change="saveCacheDefaults('download')" />
                </el-form-item>
              </el-form>
            </el-tab-pane>
          </el-tabs>
        </el-tab-pane>
      </el-tabs>
    </el-card>
    <el-dialog v-model="cacheRuleDialog.visible" :title="cacheRuleDialog.mode === 'create' ? '新增规则' : '编辑规则'" width="520px">
      <el-form label-width="100px">
        <el-form-item label="类型">
          <el-select v-model="cacheRuleForm.type" style="width: 100%">
            <el-option label="首页" value="index" />
            <el-option label="全站" value="all" />
            <el-option label="目录" value="dir" />
            <el-option label="后缀" value="suffix" />
            <el-option label="单个路径" value="path" />
          </el-select>
        </el-form-item>
        <el-form-item label="内容">
          <el-input v-model="cacheRuleForm.value" placeholder="需要匹配的内容" />
        </el-form-item>
        <el-form-item label="有效期(天)">
          <el-input v-model="cacheRuleForm.ttl" />
        </el-form-item>
        <el-form-item label="忽略参数">
          <el-switch v-model="cacheRuleForm.ignore_query" />
        </el-form-item>
        <el-form-item label="强制缓存">
          <el-switch v-model="cacheRuleForm.force_cache" />
        </el-form-item>
      </el-form>
      <template #footer>
        <el-button size="normal" @click="cacheRuleDialog.visible = false">取消</el-button>
        <el-button size="normal" type="primary" @click="saveCacheRule">确定</el-button>
      </template>
    </el-dialog>
    <el-dialog v-model="headerDialog.visible" :title="headerDialog.mode === 'create' ? '新增请求头' : '编辑请求头'" width="520px">
      <el-form label-width="100px">
        <el-form-item label="名称">
          <el-input v-model="headerForm.name" placeholder="请求头名称" />
        </el-form-item>
        <el-form-item label="值">
          <el-input v-model="headerForm.value" placeholder="请求头值" />
        </el-form-item>
      </el-form>
      <template #footer>
        <el-button size="normal" @click="headerDialog.visible = false">取消</el-button>
        <el-button size="normal" type="primary" @click="saveHeader">确定</el-button>
      </template>
    </el-dialog>
  </div>

